<h1> APPROVE TRANSACTIONS </h1>
<br>
<h3> Enter the transaction number:</h3>
<form>
  <input type="text23" name="search" placeholder="Search..."> <button class="btn btn-info" name="submit">Submit</button>
</form>
<div id="summary-container">
<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Transaction Number</th>
        <th>Transaction Type</th>
        <th>Approve/Decline</th>
      </tr>
    </thead>
    <tbody>
    	<tr >
			<td class="info">  7517868751</td>
			<td class="info"> Money Deposit</td>
			<td class="info"> <button class="btn btn-success" name="accept">Accept</button>  &nbsp;<button class="btn btn-danger" name="decline">decline</button></td>
		</tr>
		<tr >
			<td class="info">  717598751423</td>
			<td class="info"> Credit Card  </td>
			<td class="info"> <button class="btn btn-success" name="accept">Accept</button>  &nbsp;<button class="btn btn-danger" name="decline">decline</button></td>
		</tr>
    </tbody>
  </table>
</div>

</div>
