
<h3> Enter the Account number:</h3>
<form>
  <input type="text23" name="search" placeholder="Search..."> <button class="btn btn-info" name="submit">Submit</button>
</form>
<div id="summary-container">
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Account number</th>
        <th>Role</th>
        <th>Time Stamp</th>
        <th>Action Type</th>
      </tr>
    </thead>
    <tbody>
    	<tr >
			<td class="info">  </td>
			<td class="info"> </td>
			<td class="info">  </td>
			<td class="info">  </td>
		</tr>
		<tr >
			<td class="info">  </td>
			<td class="info"> </td>
			<td class="info">  </td>
			<td class="info">  </td>
		</tr>
		
    </tbody>
  </table>
  
</div>


</div>