<h1> MANAGE ACCOUNT/CUSTOMER DETAILS</h1>
<br>
<h3> Select Type:</h3>
<select class='form-group'>
  <option class="info">Customer Account</option>
  <option class="info">Bank Account</option>
</select>


<h3> Enter the Account number:</h3>
<form>
  <input type="text23" name="search" placeholder="Search..."> <button class="btn btn-info" name="submit">Submit</button>
</form>
<div id="summary-container">
<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Account number</th>
        <th>Account Type</th>
        <th>Credit Limit</th>
        <th>Account Status</th>
        
        <th>Available Balance</th>
        <th>Modify/Delete</th>
      </tr>
    </thead>
    <tbody>
    	<tr >
			<td class="info">  7517868751</td>
			<td class="info"> Savings</td>
			<td class="info">  7517868751</td>
			<td class="info">  <select class='form-control'>
  <option class="info">Active</option>
  <option class="info">Hold</option>
  <option class="info">Deleted</option>
</select></td>
			<td class="info"> $28766237</td>
			<td class="info"> <button class="btn btn-primary" name="Modify">Modify</button> &nbsp;<button class="btn btn-danger" name="Delete">Delete</button></td>
		</tr>
		<tr >
			<td class="info">  717598751423</td>
			<td class="info"> Merchant</td>
			<td class="info">  7517868751</td>
			<td class="info">  <select class='form-control .nputselect'>
  <option class="info">Active</option>
  <option class="info">Hold</option>
  <option class="info">Deleted</option>
</select></td>
			
			<td class="info"> $ 465783786</td>
			<td class="info"> <button class="btn btn-primary" name="Modify">Modify</button> &nbsp;<button class="btn btn-danger" name="Delete">Delete</button></td>
		</tr>
    </tbody>
  </table>
  
</div>






<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>UserId</th>
        <th>User Type</th>
        <th>Credit Limit</th>
        <th>Account Status</th>
        
        <th>Available Balance</th>
        <th>Modify/Delete</th>
      </tr>
    </thead>
    <tbody>
    	<tr >
			<td class="info">  7517868751</td>
			<td class="info"> Savings</td>
			<td class="info">  7517868751</td>
			<td class="info">  <select class='form-control'>
  <option class="info">Active</option>
  <option class="info">Hold</option>
  <option class="info">Deleted</option>
</select></td>
			<td class="info"> $28766237</td>
			<td class="info"> <button class="btn btn-primary" name="Modify">Modify</button> &nbsp;<button class="btn btn-danger" name="Delete">Delete</button></td>
		</tr>
		<tr >
			<td class="info">  717598751423</td>
			<td class="info"> Merchant</td>
			<td class="info">  7517868751</td>
			<td class="info">  <select class='form-control .nputselect'>
  <option class="info">Active</option>
  <option class="info">Hold</option>
  <option class="info">Deleted</option>
</select></td>
			
			<td class="info"> $ 465783786</td>
			<td class="info"> <button class="btn btn-primary" name="Modify">Modify</button> &nbsp;<button class="btn btn-danger" name="Delete">Delete</button></td>
		</tr>
    </tbody>
  </table>
  
</div>
</div>
