table {
    border-collapse: collapse;
    width: 90%;
font-size : 120%
font-family: "Times New Roman";

}

th{
height: 50px;
background-color: #050646;	
    color: white;
font-size : 150%;
text-align :center;
font-family: "Times New Roman";

}

th, td {
    padding: 18px;
    text-align: center;
    border-bottom: 1px solid #7BBAEC  ;

}

tr:hover{background-color:#CD55F1;}

h1{

font-family: "Times New Roman";
}
